// ЛАВАНДОВЫЙ
$MainLavender: #E8B722;
$LavenderTint1: #C5B3E1;
$LavenderTint2: #CDBDE6;
$LavenderTint3: #D6C8EA;
$LavenderTint4: #DED3EE;
$LavenderTint5: #E6DEF2;
$LavenderTint6: #FCF6E4;
$LavenderTint7: #F7F4FB;

// $MainLavender: #bda8dd;
// $LavenderTint1: #C5B3E1;
// $LavenderTint2: #CDBDE6;
// $LavenderTint3: #D6C8EA;
// $LavenderTint4: #DED3EE;
// $LavenderTint5: #E6DEF2;
// $LavenderTint6: #EEE9F7;
// $LavenderTint7: #F7F4FB;

// КРАСНЫЙ

$MainRed: #F54747;
$RedTint1: #F75E5E;
$RedTint2: #F87575;
$RedTint3: #F98C8C;
$RedTint4: #FAA3A3;
$RedTint5: #FBBABA;
$RedTint6: #FDD1D1;
$RedTint7: #FEE8E8;

// ЗЕЛЁНЫЙ

$MainGreen: #36A741;
$GreenTint1: #40C14D;
$GreenTint2: #5BCA66;
$GreenTint3: #77D380;
$GreenTint4: #92DC99;
$GreenTint5: #ADE4B3;
$GreenTint6: #C8EDCC;
$GreenTint7: #E4F6E6;

$MainYellow: #D8A816;
$YellowTint2: #E8B824;
$YellowTint3: #EBC140;
$YellowTint4: #EECA5B;
$YellowTint5: #F1D376;
$YellowTint6: #F4DC92;
$YellowTint7: #F6E4AD;
$YellowTint8: #F9EDC8;
$YellowTint9: #FCF6E4;
$YellowTint10: #FBF9F4;
