// Стилизация уникальных статусов
@import 'colors.scss';

.shy {
    background: linear-gradient(180deg, #232323 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.lab4u {
    color: $MainLavender;
    position: relative;
    margin-left: 20px;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        background: url('/assets/statuses/emoji_sparkle.webp') no-repeat center center;
        background-size: 100%;
        width: 16px;
        height: 16px;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        background: url('/assets/statuses/emoji_sparkle.webp') no-repeat center center;
        background-size: 100%;
        width: 16px;
        height: 16px;
    }
}
.drunk {
    background: linear-gradient(180deg, #9e420d 0%, #facd96 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -22px;
        width: 16px;
        height: 16px;
        background: url('/assets/statuses/whiskey.webp') no-repeat center center;
        background-size: 100%;
    }
}

.pirate_king {
    background: linear-gradient(90.73deg, #e4ae51 1.74%, #7F2325 97.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
        width: 32px;
        height: 32px;
        background: url('/assets/statuses/mugiwara.webp') no-repeat center center;
        background-size: 100%;
    }
}

.marine {
    background: linear-gradient(180deg, #1780C8 28.29%, #8BD0FF 78.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -39px;
        width: 32px;
        height: 32px;
        background: url('/assets/statuses/marine.webp') no-repeat center center;
        background-size: 100%;
    }
}